$colorBlackGray:hsl(220, 13%, 13%);
$colorDarkGray:hsl(219, 9%, 45%);

$colorLightGray:hsl(220, 14%, 75%);
$colorWhiteGray:hsl(223, 64%, 98%);

$colorWhite:hsl(0, 0%, 100%);
$colorBlack:hsl(0, 0%, 0%);

$colorPrimary: #ff7d1a;
$colorPalePrimary : hsl(25, 100%, 94%);

$fontSizePara : 16px;


